@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(17, 24, 39);
}
.zoom {
  animation: zoom forwards;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 50%;
  transition: all 0.3s;
}
#modal {
  animation: modalFadeIn 600ms cubic-bezier(0.25, 1, 0.5, 1) forwards;
  top: 50%;
  left: 50%;
  opacity: 0;
}

@keyframes modalFadeIn {
  from {
    transform: translate(-50%, -55%) scale(0.95);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.02);
    opacity: 0.5;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}


@keyframes zoom {
  from {
    scale: 0.7;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
